# This file defines databases and their folder location. Each database is a line with 
# three columns: value{tab}{name}{/path/to/database-folder} 
# E.g. bacteria{tab}bacteria{tab}/home/user/kmerfinder_databases/bacteria
# The database folder is created by the command ariba preparef