<?xml version="1.0"?>
<tables>
    <!-- Locations of GTDB-TK database in the required format for server -->
    <table name="gtdbtk_databases" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, path</columns>
        <file path="tool-data/gtdb_databases.loc" />
    </table>
</tables>
